/* ================= RESET ================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--Pale-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================= ROOT ================= */

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-red-light: hsl(0, 100%, 95%);
  --Orangey-yellow-light: hsl(39, 100%, 95%);
  --Green-teal-light: hsl(166, 100%, 95%);
  --Cobalt-blue-light: hsl(234, 85%, 95%);

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
}

/* ================= APP LAYOUT ================= */

.App {
  display: flex;
  flex-direction: row;
  background-color: var(--White);
  border-radius: 2rem;
}

/* ================= RESULT ================= */

.App .result {
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  background: linear-gradient(
    to top,
    var(--Light-royal-blue-background),
    var(--Light-slate-blue-background)
  );
}

.App .result h2,
.App .result p {
  color: var(--Light-lavender);
}

.App .result h1 {
  color: var(--White);
}

.App .result p {
  font-weight: var(--fw-700);
  text-align: center;
  max-width: 30ch;
}

.App .result .result-circle {
  aspect-ratio: 1;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(
    to top,
    var(--Persian-blue-circle),
    var(--Violet-blue-circle)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App .result .result-circle span {
  color: var(--Light-lavender);
  font-weight: var(--fw-700);
}

.App .result .result-circle .result-score {
  color: var(--White);
  font-weight: var(--fw-800);
  font-size: 4rem;
}

/* ================= SUMMARY ================= */

.App .summary {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
}

.App .summary h2 {
  color: var(--Dark-gray-blue);
  align-self: flex-start;
}

.App .summary .records {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.App .summary .records .category {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: var(--fw-700);
  padding: 1rem;
  border-radius: 10px;
}

.App .summary .records .category .icon-category {
  display: flex;
  gap: 10px;
}

.App .summary .records .category span {
  color: gray;
}

/* Background modifiers */

.bg-red {
  background-color: var(--Light-red-light);
}
.bg-yellow {
  background-color: var(--Orangey-yellow-light);
}
.bg-teal {
  background-color: var(--Green-teal-light);
}
.bg-blue {
  background-color: var(--Cobalt-blue-light);
}

/* Font modifiers */

.f-red {
  color: var(--Light-red);
}
.f-yellow {
  color: var(--Orangey-yellow);
}
.f-teal {
  color: var(--Green-teal);
}
.f-blue {
  color: var(--Cobalt-blue);
}

/* Button */

.App .summary button {
  width: 100%;
  border: none;
  background-color: var(--Dark-gray-blue);
  color: var(--Pale-blue);
  padding: 20px 40px;
  border-radius: 150vw;
  font-size: 20px;
  font-weight: var(--fw-700);
  cursor: pointer;
}

.App .summary button:hover {
  background: linear-gradient(
    to top,
    var(--Light-royal-blue-background),
    var(--Light-slate-blue-background)
  );
  color: var(--White);
}

/* ================= MOBILE ================= */

@media screen and (max-width: 800px) {
  body {
    align-items: flex-start;
  }

  .App {
    flex-direction: column;
    border-radius: 0;
  }

  .App .result {
    width: 100%;
    padding: 2rem;
    border-radius: 0;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    gap: 1rem;
  }

  .App .result .result-circle {
    height: 150px;
  }

  .App .result p {
    max-width: 80%;
  }

  .App .summary {
    width: 100%;
    gap: 10px;
  }

  .App .summary h2 {
    align-self: center;
  }
}
